---
layout: page
title: "Our Governance"
---

The DIAL Open Source Center is structured as a collective federation of open source projects, with representative decision-making structures for particular areas of collaborative opportunity.

Our founding staff team is responsible for developing several governance initiatives to be taken on by the Center. Specifically:

<ul>
  <li>The Project Leader (interim <a href="https://digitalimpactalliance.org/who-we-are/our-staff/">Jake Watson</a>) will lead the Center's Governance Advisory Board (GAB), which is responsible for non-technical aspects of the OSC's operations such as marketing, legal and fundraising.</li>
  <li>The Director of Community, <a href="https://digitalimpactalliance.org/who-we-are/our-staff/">Michael Downey</a>, is responsible for building a <strong>Community Steering Committee (CSC)</strong>, which is responsible for handling membership, project onboarding and promoting cross-project contribution amongst the various member projects.</li>
  <li>The Director of Technology, <a href="https://digitalimpactalliance.org/who-we-are/our-staff/">David McCann</a>, is responsible for building a <strong>Technical Steering Committee (TSC)</strong>, focusing on interoperability, technical advisement (where requested), scalability and overall maturity of the products built by OSC member projects.</li>
  <li>The Director of Business Sustainability, <a href="https://digitalimpactalliance.org/who-we-are/our-staff/">Heath Arensen</a>, will be responsible for building a sustainability model for the OSC itself, as well as advising OSC member projects on sustainable business models for their project's unique needs.</li>
  <li>We believe there are also natural opportunities to collaborate and coordinate efforts between projects belonging to the same development sector verticals. As our first example, OSC Service Delivery Partner PATH is planning to convene a <strong>Sustainability Advisory Group for Health (H-SAG)</strong> through its <a href="https://digitalsquare.org/">Digital Square</a> initiative.</li>
</ul>

<p>As practitioners of the open source way, we believe in an adaptive, action-biased and data driven approach to execution. As we grow, our governance structures and their policies will grow, change and clarify to accommodate member needs.</p>

<p>Read more about our guiding principles:</p>

<ul>
  <li><a href="governance-principles.html">Governance Principles</a></li>
  <li><a href="licensing-principles.html">Licensing Principles</a></li>
  <li><a href="finance-principles.html">Finance Principles</a></li>
</ul>
<br/>

<p>
<a href="vision.html"><span class="icon fa-long-arrow-left"></span> Our Vision</a> | <a href="join.html">Become a Member <span class="icon fa-long-arrow-right"></span></a>
</p>
