---
layout: page
title: "Become a Member"
---

<p>Joining the DIAL Open Source Center as a member project is easy!</p>

<h4>Step 1: Read about the OSC</h4>

<p>The following pages explain the purpose, vision and principles of the OSC:</p>

<ul>
  <li><a href="challenge.html">The Challenge</a></li>
  <li><a href="mission.html">Our Mission</a></li>
  <li><a href="values.html">Our Values</a></li>
  <li><a href="governance.html">Our Governance</a>
</ul>

<h4>Step 2: Contact Us</h4>

<p>Send us a simple <a href="mailto:apply@dial.community">email</a> expressing interest, and we'll work with you to better understand your project's governance and where to announce/discuss your endorsement of and membership within the OSC.</p>

<h4>Step 3: Membership Vote</h4>

<p>The OSC's Governance Advisory Board will vote by simple majority, and announcements will be made in the <a href="https://forum.osc.dial.community">forum</a> and wherever else appropriate.</p>

<h4>Step 4: Participate in the OSC</h4>

<p>As a member, your project is encouraged to participate in our community of practice, represent your interests as part of the OSC governance bodies and to apply for services and grants that may be beneficial to your project.</p>
<br/>

<p>
<a href="governance.html"><span class="icon fa-long-arrow-left"></span> Our Governance</a> | <a href="services.html">Receive Services <span class="icon fa-long-arrow-right"></span></a>
<p>
