---
layout: page
title: "Our Mission"
---

<p>
<strong>The mission of the DIAL Open Source Center is to convene a vibrant and inclusive community for builders of free and open source software, promoting knowledge sharing, collaboration and co-investment in technology and human capacity to support positive social change in communities around the world.</strong>
</p>

<p><strong>
The Center’s participating members believe that an ecosystem with mature open source products, co-funded by multiple organizations and contributed to by multiple software developer organizations, is the key to delivering open and sustainable digital products and services that honor the <a href="https://digitalprinciples.org/">Principles for Digital Development</a> and address the challenges of both practitioners and engineers.
</strong></p>

<p>
This approach isn’t a proven solution in the T4D sector yet. But it also hasn’t been tested.
</p>

<p>
We need opinionated engineers that don’t succumb to analysis paralysis or kicking-the-can design techniques—creating complicated customizability and modularity, rather than picking one simple and cohesive product vision. We need to avoid over-applying the lessons learned from “by devs, for devs” open source products such as Apache HTTP Server, Django, PostgreSQL, etc. In such products, the vision of contributors and users is strongly coupled because both roles are often the same people. We must also find ways to reconcile the traditional "single product owner" role with a multi-stakeholder environment, and exploring new ways to bring users to the center of an ongoing conversation and collaboration with a product’s contributors.
</p>

<p>
<a href="challenge.html"><span class="icon fa-long-arrow-left"></span> The Challenge</a> | <a href="values.html">Our Values <span class="icon fa-long-arrow-right"></span></a>
<p>
